obj
bin
deploy
deploy/*
!src/Deploy
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
packages
.vs
$tf
out
.idea
.DotSettings.user
NuGet.Config_local
docker-compose.yml
/debug.log
